<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>

        <form action="/" method="post">
          <input name="summonerName" type="text" class="ghost-input" placeholder="Enter a Username">
          <input type="submit" class="ghost-button" value="Get Match List">
        </form>
        <% if(locals.summonerName !== null){ %>
          <% for(i=0; i<locals.summonerName.length; i++) { %>
            <p><%= locals.summonerName[i] %></p>
          <% } %>
        <% } %>

        <% if(locals.error !== null){ %>
          <p><%= locals.error %></p>
        <% } %>

      </fieldset>
    </div>
  </body>
</html>
